@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import "tailwindcss";


@theme {
    --font-Inter: 'Inter', sans-serif;
    --font-TikTok: 'TikTok Sans', sans-serif;

    --color-blue-fun: #27303a;
    --color-item-gk-item: #1A191F;
    --color-navbar-color: #1f1f26;
    --color-font-color: #d3e4f0;
    --color-font-color2: #e0f2ff;
    --color-card-bg: #9bd0fa;
}

